body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0a0e27 0%, #1a1f3a 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  background: rgba(30, 41, 59, 0.9);
  padding: 35px;
  border-radius: 14px;
  width: 350px;
  text-align: center;
  border: 2px solid rgba(96, 165, 250, 0.3);
  box-shadow: 0 0 30px rgba(96, 165, 250, 0.15);
}

.auth-container h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #60a5fa;
}

.auth-container input {
  width: 92%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 15px;
}

.auth-container button {
  width: 98%;
  padding: 12px;
  margin-top: 10px;
  background: linear-gradient(135deg, #60a5fa, #a78bfa);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.auth-container button:hover {
  opacity: 0.9;
}

.link-text {
  margin-top: 15px;
  font-size: 14px;
}

a {
  color: #a78bfa;
  text-decoration: none;
  font-weight: bold;
}

#msg {
  margin-top: 15px;
  font-size: 14px;
  color: red;
}


.faculty-section {
  text-align: center;
  margin-top: 15px;
}

.faculty-btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #2c3e50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s ease;
}

.faculty-btn:hover {
  background-color: #1a252f;
}
